#files
config.json

#OS
.DS_Store

#Python
__pycache__/
*.pyc
*.egg-info/

# Jupyter
.ipynb_checkpoints

#logs
logs/
*.log

#environment
.env

#pycharm
.idea/
#paths
nba/data/box
nba/data/csv
nba/data/files
nba/data/pbp
nba/data/pickle
nba/data/parquetbuild/
dist/
build/
dist/

#database
data/
*.db
*.db-wal
*.db-shm

#database
database/
*.db
*.db-wal
*.db-shm

#database
database/
*.db
*.db-wal
*.db-shm
